USE master;
IF DB_ID('RegionCity') IS NOT NULL
   DROP DATABASE RegionCity;
CREATE DATABASE RegionCity collate Ukrainian_CI_AS;
GO
USE [RegionCity]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 04/27/2015 05:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](32) NOT NULL,
	[UserCreateId] [int] NOT NULL,
	[DateCreate] [datetime] NOT NULL,
	[UserModifyId] [int] NOT NULL,
	[DateModify] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Region] ON
INSERT [dbo].[Region] ([RegionId], [RegionName], [UserCreateId], [DateCreate], [UserModifyId], [DateModify]) VALUES (1, N'АР Крым wqeqe', 1, CAST(0x0000A485011DF35F AS DateTime), 1, CAST(0x0000A485011DF35F AS DateTime))
INSERT [dbo].[Region] ([RegionId], [RegionName], [UserCreateId], [DateCreate], [UserModifyId], [DateModify]) VALUES (2, N'Винницкая область', 1, CAST(0x0000A485011DF35F AS DateTime), 1, CAST(0x0000A485011DF35F AS DateTime))
INSERT [dbo].[Region] ([RegionId], [RegionName], [UserCreateId], [DateCreate], [UserModifyId], [DateModify]) VALUES (3, N'Волынская областьasda', 1, CAST(0x0000A485011DF35F AS DateTime), 1, CAST(0x0000A485011DF35F AS DateTime))
SET IDENTITY_INSERT [dbo].[Region] OFF
/****** Object:  Table [dbo].[City]    Script Date: 04/27/2015 05:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[RegionId] [int] NOT NULL,
	[CityName] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON
INSERT [dbo].[City] ([CityId], [RegionId], [CityName]) VALUES (1, 16, N'Абазовка')
INSERT [dbo].[City] ([CityId], [RegionId], [CityName]) VALUES (2, 15, N'Авангард')
INSERT [dbo].[City] ([CityId], [RegionId], [CityName]) VALUES (3, 5, N'Авдеевка')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
SET IDENTITY_INSERT [dbo].[City] OFF
/****** Object:  Default [DF_Region_UserCreateId]    Script Date: 04/27/2015 05:46:07 ******/
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_UserCreateId]  DEFAULT ((1)) FOR [UserCreateId]
GO
/****** Object:  Default [DF_Region_DateCreate]    Script Date: 04/27/2015 05:46:07 ******/
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_DateCreate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF_Region_UserModifyId]    Script Date: 04/27/2015 05:46:07 ******/
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_UserModifyId]  DEFAULT ((1)) FOR [UserModifyId]
GO
/****** Object:  Default [DF_Region_DateModify]    Script Date: 04/27/2015 05:46:07 ******/
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_DateModify]  DEFAULT (getdate()) FOR [DateModify]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([RegionId])
GO

